
body {
  margin: 0px;
  padding: 0px;
  background-color: #34495e;
}

.images{
font-size: 25px;
 color:white;
 margin-left:300px ;
padding: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  width: 100%;
  background-color: rgb(238, 195, 4);
  position: fixed;
  top: 0px;
  z-index: 1;
  height: 50px;
}

.h2 {
  text-align: center;
  font-size: 25px;
  color: rgb(75, 75, 75);
  margin: 9px;
  padding: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(241, 134, 11, 0.911);

  padding-top: 20px;
}

.sidenavLinks {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  display: inline;
  margin-top: 150px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  list-style-type: none;
  display: block;
  position: absolute;
  z-index: 1;
}

/*
.sidenav a:hover {
  color: #f1f1f1;
}  */
#loginbutton{
  position: absolute;
  z-index: 2;
  height: 40px;
  width: 140px;
  font-size: medium;
  margin-left: 50px;
  /* background-color: rgb(238, 195, 4); */
  background-color: white;
 border: 1px solid black;
}

#imgCont{
  float: left;
  width: 33.33%;
  padding: 5px;

  /* height: 200px;
  width: 500px;
  position: relative;
  z-index: 1;
  margin-left: 350px; */
  }

#picture {
  /* padding: 10px;
  float:left; */
  width: 200px;
  height: auto;
}

.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}
/***************************** submit form *******************************/
#myForm {
  margin-left: 40%;
  margin-top: 0;
  margin-right: 0%;
  width: 390px;
  height: 200px;
  background-color: white;
  border-bottom: 1px solid #FFA500;
  border-bottom-width: 30px;
  padding-left: 0px;
}

#urlinput {
  margin-top: 30px;
  margin-left: 20px;
}

#submitbutton {
  margin-left: 10px;
}

#descriptionsubmit {
  margin-top: -40px;
  margin-left: 250px;
}

#descriptioninput {
  margin-top: 20px;
  margin-left: 10px;
}

#nameinput {
  margin-top: 0px;
  margin-left: 20px;
}

/******************************login form*****************************/
#loginbtn{
  height: 30px;
  width: 100px;
  background-color:rgb(235, 230, 220);
  font-size: medium;
  margin-left: 50px;
  margin-top: 0px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  border-radius: 3px;
 
  
  }
  #loginform{
    height: 200px;
    width: 350px;
    margin-top: 100px;
    margin: 0px auto;
    width: 390px;
    height: 140px;
    background-color:white;
    border-bottom: 1px solid #FFA500;
    border-bottom-width: 30px;
    position: relative;
    z-index: 1;
    
    
  }
   #loginSubmitBtn {

    margin-top: 30px;
    margin-left: 30px;
    border-radius: 3px;
   
    
  } 
  #account{
   margin-left: 30px;
   font-size: smaller;
   color: lightskyblue;
  
  } 
    

 
 p#feedback {
  text-align: right;
  font-size: 10pt;
  margin: 0px auto;
  margin-top: 100px;
  text-align: center;
  padding: 10px;
  position: relative;
  z-index: 2;
  background-color:white;
  width: 370px;
 
  }


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Style the Image Used to Trigger the Modal */
 #myImg {
    max-width: 100%;
    height: auto;
    border: 7px solid white;
}

  /* The Modal (background) */
  #modal-background {
    left: 0;
    top: 0;
    width: 100%; 
    height: 100vh; 
    overflow: auto; /* to scroll if needed */
    background-color: rgba(26, 26, 26, 0.6); /* grey w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  /* Size of the image */
  #modal {
    position: absolute;   
    margin: auto;
    display: block;
    /*height: 60vh;
    width: 900px;
    min-width: 40%;*/
}

  /* Style the closebutton*/
  #closeBtn{
    z-index: 1;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 70px;
    transition: 0.3s;
}
 /*The X (closebutton) get light grey when hover*/
  #closeBtn:hover,
  #closeBtn:focus {
    color: rgb(156, 156, 156);
}

  #imageRemove{
    color: lightgrey;
    background-color: rgb(68, 68, 68);
    font-size: 15px;
    z-index: 1;
    bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
}

  /* Add Animation - Zoom in the image to tell you can click it? */
 #modal{
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  